@model Entities.AuctionItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AuctionItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Bid">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemNumber" />
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" readonly class="form-control" />
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingPrice" class="control-label"></label>
                <input asp-for="RatingPrice" readonly class="form-control" />
                <span asp-validation-for="RatingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidPrice" class="control-label"></label>
                <input asp-for="BidPrice" class="form-control" />
                <span asp-validation-for="BidPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidCustomName" class="control-label"></label>
                <input asp-for="BidCustomName" class="form-control" />
                <span asp-validation-for="BidCustomName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidCustomPhone" class="control-label"></label>
                <input asp-for="BidCustomPhone" class="form-control" />
                <span asp-validation-for="BidCustomPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidTimeStamp" class="control-label"></label>
                <input asp-for="BidTimeStamp" readonly class="form-control" />
                <span asp-validation-for="BidTimeStamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
